<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="org.springframework.transaction.interceptor" level="TRACE"/>
  <logger name="org.springframework.transaction" level="DEBUG"/>
  <logger name="jakarta.persistence.EntityManager" level="DEBUG"/>
  <logger name="org.hibernate.Session" level="DEBUG"/>

</configuration>
